body {
	background:$background url(../images/bg_texture.png) 0 0;
	color:$text;}

#wrapper {
	height:100%;
	margin:0 auto;
	min-height:100%;
	position:relative;
	width:960px;}

header#heading {
	padding-top:64px;}

#main {
	padding-bottom:80px;}

footer {
	background:$black;
	height:80px;
	margin-top:-80px;
	position:relative;
	bottom:0;
	width:100%;}

.submit {
	@include button($color1);}

	.submit:hover {@include button(lighten($color1, 5%));}

	.submit:active {
		@include button(darken($color1, 5%));}

.chartwell {
	display:inline-block;
	font-family: Chartwell;
	font-size: 17em;
	text-align:center;
	width:33%;
	& .one {color:$shade1;}
	& .two {color:$shade2;}
	& .three {color:$shade3;}
	& .four {color:$shade4;}
	& .five {color:$shade5;}
	& .six {color:$shade6;}
	& .seven {color:$shade7;}
	& .hole {color:$background;}
}
	
.bullets {
	list-style:none;
	& .one:before {@include makeBullet; background:$shade1;}
	& .two:before {@include makeBullet; background:$shade2;}
	& .three:before {@include makeBullet; background:$shade3;}
	& .four:before {@include makeBullet; background:$shade4;}
	& .five:before {@include makeBullet; background:$shade5;}
	& .six:before {@include makeBullet; background:$shade6;}
	& .seven:before {@include makeBullet; background:$shade7;}
	
}