/*   Resets, Normalizers, Standardizers, Maker Betterers   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html, body {
  height: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  border: 0px;
}

img {
  border: 0;
}

ul, ol {
  list-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
}

@media print {
  img {
    max-width: 100% !important;
  }
}
@media print {
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
}
/* first for Internet Explorer < 9 */
@font-face {
  font-family: Chartwell;
  src: url("../fonts/ChartwellTextWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: Chartwell;
  src: url("/fonts/ChartwellTextWebPro.woff") format("woff");
}

body {
  font: 100% sans-serif;
}

html > body {
  font-size: 16px;
}

p {
  line-height: 2em;
  margin-bottom: 2em;
}

h1 {
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

hgroup h1 {
  display: inline;
  margin-bottom: 0.25em;
}

#work hgroup h1 {
  display: block;
  font-size: 2.5em;
  line-height: 1em;
  margin-top: 20%;
}

h2 {
  font-size: 2em;
  line-height: 1em;
  margin: 1em 0;
}

hgroup h2 {
  display: inline;
  margin-top: 0;
  text-shadow: 0 1px 0 white;
}

#work hgroup h2 {
  display: block;
  font-size: 2em;
  line-height: 1em;
}

h3 {
  font-size: 2em;
  line-height: 2em;
  margin: 0;
}

label {
  font-size: 1.5em;
  line-height: 2em;
  margin: 0;
}

li {
  line-height: 2em;
}

label {
  margin-top: 1em;
}

h1, h2 {
  font-family: "cubano", sans-serif;
}

body, h3 {
  font-family: "museo-sans", sans-serif;
}

body {
  color: #011526;
}

h1 {
  color: #537373;
  text-shadow: 0 1px 0 white;
}

h2 {
  color: #013641;
}

h3, label {
  color: #537373;
  font-weight: bold;
}

a {
  color: #537373;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  background: #f2e8dc url(../images/site_bg2.jpg) 0 0;
  color: #011526;
}

hr {
  height: 1px;
  line-height: 1px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 0 white;
  margin: 2em 0;
}

#wrapper {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  width: 960px;
}

header#heading {
  padding-top: 64px;
}

#main {
  padding-bottom: 85px;
}

footer {
  height: 48px;
  margin-top: -80px;
  padding-top: 64px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.submit {
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.34);
  border-radius: 3px;
  color: white;
  background: #537373;
  background: -moz-linear-gradient(#537373, #283838);
  /* FF 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #537373), color-stop(100%, #283838));
  /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#537373, #283838);
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#537373, #283838);
  /* Opera 11.10 */
  background: linear-gradient(#537373, #283838);
  /* the standard */
  border: 0px;
  padding: 8px;
  position: relative;
  text-decoration: none;
}

.submit:hover {
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.34);
  border-radius: 3px;
  color: white;
  background: #5e8282;
  background: -moz-linear-gradient(#5e8282, #334747);
  /* FF 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e8282), color-stop(100%, #334747));
  /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#5e8282, #334747);
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#5e8282, #334747);
  /* Opera 11.10 */
  background: linear-gradient(#5e8282, #334747);
  /* the standard */
  border: 0px;
  padding: 8px;
  position: relative;
  text-decoration: none;
}

.submit:active {
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.34);
  border-radius: 3px;
  color: white;
  background: #486464;
  background: -moz-linear-gradient(#486464, #1e2929);
  /* FF 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #486464), color-stop(100%, #1e2929));
  /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#486464, #1e2929);
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#486464, #1e2929);
  /* Opera 11.10 */
  background: linear-gradient(#486464, #1e2929);
  /* the standard */
  border: 0px;
  padding: 8px;
  position: relative;
  text-decoration: none;
}

#charts {
  *zoom: 1;
  position: relative;
}
#charts:after {
  content: "";
  display: table;
  clear: both;
}

#charts div {
  float: left;
  text-align: center;
  width: 33%;
}

.chartwell {
  display: inline-block;
  font-family: Chartwell;
  font-size: 17em;
  line-height: .75em;
  text-align: center;
  z-index: 1;
}
.chartwell .one {
  color: #013641;
}
.chartwell .two {
  color: #154650;
}
.chartwell .three {
  color: #29565f;
}
.chartwell .four {
  color: #3d666e;
}
.chartwell .five {
  color: #52767d;
}
.chartwell .six {
  color: #66868d;
}
.chartwell .seven {
  color: #7a969c;
}
.chartwell .hole {
  color: #013641;
}

.bullets {
  list-style: none;
  margin: 0px auto;
  text-align: left;
}
.bullets.skills {
  font-weight: bold;
  width: 51%;
}
.bullets.stats {
  width: 71%;
}
.bullets.tech {
  font-weight: bold;
  width: 35%;
}
.bullets .one:before {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #013641;
}
.bullets .two:before {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #154650;
}
.bullets .three:before {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #29565f;
}
.bullets .four:before {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #3d666e;
}
.bullets .five:before {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #52767d;
}
.bullets .six:before {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #66868d;
}
.bullets .seven:before {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #7a969c;
}

.test {
  list-style: none;
  margin: 0px auto;
  text-align: left;
}
.test li {
  display: block;
  margin-bottom: 5px;
}
.test .one {
  background: #013641;
  width: 200px;
  height: 15px;
}
.test .two {
  background: #154650;
  width: 200px;
  height: 15px;
}
.test .three {
  background: #29565f;
  width: 200px;
  height: 15px;
}
.test .four {
  background: #3d666e;
  width: 150px;
  height: 15px;
}
.test .five {
  background: #52767d;
  width: 150px;
  height: 15px;
}
.test .six {
  background: #66868d;
  width: 100px;
  height: 15px;
}

#charts div#man {
  background: #013641 url(../images/stats_bg.png) 0 0 no-repeat;
  height: 167px;
  position: absolute;
  top: 145px;
  left: 426px;
  width: 97px;
  z-index: 10;
}

#work {
  *zoom: 1;
}
#work:after {
  content: "";
  display: table;
  clear: both;
}

#work img {
  float: left;
  width: 100%;
}

#work img:nth-child(even) {
  float: right;
  margin-right: 0;
}

.thumb {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  background: rgba(255, 255, 255, 0.4);
  float: left;
  padding: 4px;
  position: relative;
  margin-right: 1%;
  margin-bottom: 3.4%;
  width: 48%;
}

.thumb a {
  pointer-events: auto;
}

.thumb hgroup {
  background: rgba(255, 255, 255, 0.95);
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  -o-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
  width: 100%;
}

.thumb hgroup a {
  pointer-events: auto;
}

.thumb:hover hgroup {
  opacity: 1;
  pointer-events: none;
  -o-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
}

#work figure img {
  height: 900px;
  width: auto;
  margin: 0 auto;
}

#zoom1, #zoom2, #zoom3, #zoom4 {
  display: none;
}

/* Modals */
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

label, input, textarea {
  display: block;
}

input, textarea {
  border-radius: 3px;
  box-shadow: 0 1px 4px 0px rgba(255, 255, 255, 0.8), inset 0 1px 4px 0px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #d4ccc1;
  line-height: 2em;
  width: 50%;
}

button {
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.34);
  border-radius: 3px;
  color: white;
  background: #537373;
  background: -moz-linear-gradient(#537373, #283838);
  /* FF 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #537373), color-stop(100%, #283838));
  /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#537373, #283838);
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#537373, #283838);
  /* Opera 11.10 */
  background: linear-gradient(#537373, #283838);
  /* the standard */
  border: 0px;
  padding: 8px;
  position: relative;
  text-decoration: none;
  box-shadow: 0;
  position: relative;
  margin-top: 2em;
}

button:hover {
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.34);
  border-radius: 3px;
  color: white;
  background: #648181;
  background: -moz-linear-gradient(#648181, #374848);
  /* FF 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #648181), color-stop(100%, #374848));
  /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#648181, #374848);
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#648181, #374848);
  /* Opera 11.10 */
  background: linear-gradient(#648181, #374848);
  /* the standard */
  border: 0px;
  padding: 8px;
  position: relative;
  text-decoration: none;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}

button:active {
  box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.34);
  border-radius: 3px;
  color: white;
  background: #425c5c;
  background: -moz-linear-gradient(#425c5c, #172121);
  /* FF 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #425c5c), color-stop(100%, #172121));
  /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#425c5c, #172121);
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#425c5c, #172121);
  /* Opera 11.10 */
  background: linear-gradient(#425c5c, #172121);
  /* the standard */
  border: 0px;
  padding: 8px;
  position: relative;
  text-decoration: none;
  box-shadow: 0 1px 4px 1px rgba(255, 255, 255, 0.5);
}

#contact {
  *zoom: 1;
}
#contact:after {
  content: "";
  display: table;
  clear: both;
}

#contact aside {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 2px 0px rgba(255, 255, 255, 0.4), 0px 2px 2px 1px rgba(0, 0, 0, 0.24);
  border-top: 0;
  float: right;
  font-weight: bold;
  margin-top: 7em;
  padding: 2em;
  width: 35%;
}
