/*   Resets, Normalizers, Standardizers, Maker Betterers   */
/* line 18, ../sass/_normalize.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 26, ../sass/_normalize.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 31, ../sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 32, ../sass/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 33, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 34, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 37, ../sass/_normalize.scss */
html, body {
  height: 100%;
}

/* line 38, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 39, ../sass/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 40, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 41, ../sass/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 42, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 43, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 44, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 45, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 46, ../sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 47, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 48, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 49, ../sass/_normalize.scss */
img {
  border: 0;
}

/* line 50, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 51, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 52, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 53, ../sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 54, ../sass/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 55, ../sass/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 56, ../sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 57, ../sass/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 58, ../sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 59, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 60, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 61, ../sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 62, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 63, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 69, ../sass/_normalize.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

/* line 70, ../sass/_normalize.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 73, ../sass/_normalize.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 76, ../sass/_normalize.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 78, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

@media print {
  /* line 81, ../sass/_normalize.scss */
  img {
    max-width: 100% !important;
  }
}
@media print {
  /* line 85, ../sass/_normalize.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
}
/* first for Internet Explorer < 9 */
@font-face {
  font-family: Chartwell;
  src: url("../fonts/ChartwellTextWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: Chartwell;
  src: url("/fonts/ChartwellTextWebPro.woff") format("woff");
}

/* line 15, ../sass/_type.scss */
body {
  font: 100% sans-serif;
}

/* line 17, ../sass/_type.scss */
html > body {
  font-size: 16px;
}

/* line 19, ../sass/_type.scss */
p {
  line-height: 2em;
  margin-bottom: 2em;
}

/* line 23, ../sass/_type.scss */
h1 {
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

/* line 28, ../sass/_type.scss */
hgroup h1 {
  margin-bottom: 0.25em;
}

/* line 30, ../sass/_type.scss */
h2 {
  font-size: 2em;
  line-height: 1em;
  margin: 1em 0;
}

/* line 35, ../sass/_type.scss */
hgroup h2 {
  margin-top: 0;
}

/* line 37, ../sass/_type.scss */
li {
  line-height: 2em;
}

/* line 41, ../sass/_type.scss */
h1, h2 {
  font-family: "cubano", sans-serif;
}

/* line 43, ../sass/_type.scss */
body {
  font-family: "museo-sans", sans-serif;
}

/* line 48, ../sass/_type.scss */
body {
  color: #011526;
}

/* line 50, ../sass/_type.scss */
h1 {
  color: #537373;
  text-shadow: 0 1px 0 white;
}

/* line 54, ../sass/_type.scss */
h2 {
  color: #013641;
  text-shadow: 0 1px 0 white;
}

/* line 58, ../sass/_type.scss */
h3 {
  color: #537373;
}

/* line 61, ../sass/_type.scss */
a {
  color: #537373;
}

/* line 1, ../sass/_global.scss */
body {
  background: #f2e8dc url(../images/bg_texture.png) 0 0;
  color: #011526;
}

/* line 5, ../sass/_global.scss */
#wrapper {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  width: 960px;
}

/* line 12, ../sass/_global.scss */
header#heading {
  padding-top: 64px;
}

/* line 15, ../sass/_global.scss */
#main {
  padding-bottom: 80px;
}

/* line 18, ../sass/_global.scss */
footer {
  background: black;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 25, ../sass/_global.scss */
.submit {
  box-shadow: inset 0px 1px 2px 0 rgba(255, 255, 255, 0.34);
  border-radius: 3px;
  color: white;
  background: #537373;
  background: -moz-linear-gradient(#537373, #283838);
  /* FF 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #537373), color-stop(100%, #283838));
  /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#537373, #283838);
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#537373, #283838);
  /* Opera 11.10 */
  background: linear-gradient(#537373, #283838);
  /* the standard */
  font-weight: bold;
  padding: 8px;
  position: relative;
  text-decoration: none;
  font-weight: bold;
}

/* line 28, ../sass/_global.scss */
.submit:hover {
  box-shadow: inset 0px 1px 2px 0 rgba(255, 255, 255, 0.34);
  border-radius: 3px;
  color: white;
  background: #5e8282;
  background: -moz-linear-gradient(#5e8282, #334747);
  /* FF 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e8282), color-stop(100%, #334747));
  /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#5e8282, #334747);
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#5e8282, #334747);
  /* Opera 11.10 */
  background: linear-gradient(#5e8282, #334747);
  /* the standard */
  font-weight: bold;
  padding: 8px;
  position: relative;
  text-decoration: none;
  font-weight: bold;
}

/* line 30, ../sass/_global.scss */
.submit:active {
  box-shadow: inset 0px 1px 2px 0 rgba(255, 255, 255, 0.34);
  border-radius: 3px;
  color: white;
  background: #486464;
  background: -moz-linear-gradient(#486464, #1e2929);
  /* FF 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #486464), color-stop(100%, #1e2929));
  /* Safari 4+, Chrome 2+ */
  background: -webkit-linear-gradient(#486464, #1e2929);
  /* Safari 5.1+, Chrome 10+ */
  background: -o-linear-gradient(#486464, #1e2929);
  /* Opera 11.10 */
  background: linear-gradient(#486464, #1e2929);
  /* the standard */
  font-weight: bold;
  padding: 8px;
  position: relative;
  text-decoration: none;
  font-weight: bold;
}

/* line 33, ../sass/_global.scss */
.chartwell {
  display: inline-block;
  font-family: Chartwell;
  font-size: 17em;
  text-align: center;
  width: 33%;
}
/* line 39, ../sass/_global.scss */
.chartwell .one {
  color: #013641;
}
/* line 40, ../sass/_global.scss */
.chartwell .two {
  color: #154650;
}
/* line 41, ../sass/_global.scss */
.chartwell .three {
  color: #29565f;
}
/* line 42, ../sass/_global.scss */
.chartwell .four {
  color: #3d666e;
}
/* line 43, ../sass/_global.scss */
.chartwell .five {
  color: #52767d;
}
/* line 44, ../sass/_global.scss */
.chartwell .six {
  color: #66868d;
}
/* line 45, ../sass/_global.scss */
.chartwell .seven {
  color: #7a969c;
}
/* line 46, ../sass/_global.scss */
.chartwell .hole {
  color: #f2e8dc;
}

/* line 49, ../sass/_global.scss */
.bullets {
  list-style: none;
}
/* line 51, ../sass/_global.scss */
.bullets .one:before {
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #013641;
}
/* line 52, ../sass/_global.scss */
.bullets .two:before {
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #154650;
}
/* line 53, ../sass/_global.scss */
.bullets .three:before {
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #29565f;
}
/* line 54, ../sass/_global.scss */
.bullets .four:before {
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #3d666e;
}
/* line 55, ../sass/_global.scss */
.bullets .five:before {
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #52767d;
}
/* line 56, ../sass/_global.scss */
.bullets .six:before {
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #66868d;
}
/* line 57, ../sass/_global.scss */
.bullets .seven:before {
  content: ' ';
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 1em;
  background: #7a969c;
}
